{% spaceless safe=true %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta property="og:url" content="https://julianxhokaxhiu.com">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Julian Xhokaxhiu's Portfolio">
  <meta property="og:image" content="https://julianxhokaxhiu.com/img/social/cover.png">
  <meta property="og:description" content="My personal motto? 'Impossible Is Nothing'">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext" rel="stylesheet">
  <title>Julian Xhokaxhiu's Portfolio</title>
  <link href="scss/screen.scss" rel="stylesheet" media="screen">
  <link href="scss/print.scss" rel="stylesheet" media="print">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a href="//julianxhokaxhiu.com" class="navbar-brand">Julian Xhokaxhiu's Portfolio</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".jx-projects-toolbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse jx-projects-toolbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link active" href="//julianxhokaxhiu.com/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="//blog.julianxhokaxhiu.com/">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="//linuxdavinci.julianxhokaxhiu.com/">LinuxDaVinci</a></li>
        <li class="nav-item"><a class="nav-link" href="//ipops.julianxhokaxhiu.com/">iPoPS</a></li>
      </ul>
    </div>
  </nav>
  <nav id="jx-scrollspy-target" class="jx-sidebar d-print-none d-none d-md-block">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link active" href="#welcome"><span>Welcome</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#aboutme"><span>About me</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#work-experience"><span>Work Experience</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#skills"><span>Skills</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#portfolio"><span>Portfolio</span></a></li>
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
  <div class="jx-footer">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col text-center">
          <p><small>Any screenshot taken from the relative website represent the status of it in a specific time. So, it should not be considered a Copyright infringement, but it is there just for rapid quick-look and better understanding of the relative project sheet.</small></p>
          <p>Julian Xhokaxhiu, <span id="credits-year">2020</span></p>
        </div>
      </div>
    </div>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
{% endspaceless %}