// Color Palette
// - http://www.colourlovers.com/palette/3274431/Tower
// - http://www.colourlovers.com/color/81B345/Henna
// - http://www.colourlovers.com/palette/3855309/Festives

// Generic Text Color
$bodyTextColor: #324B5E;
$mainLinkColor: #F28643;
$mainLinkColorHover: #F2B448;
$navbarBackgroundColor: #fff;
$sectionOddBackgroundColor: #fafafa;

// Presentation
$presentationMainColor: #324B5E;
$presentationSecondaryColor: #B6C9D6;

// Skills
$skillsTitleBorderColor: #B6C9D6;
$skillsCheckGreen: #81B345;
$skillsCheckYellow: #F2B448;
$skillsCheckRed: #E96969;

// Portfolio
$portfolioTitleBorderColor: #B6C9D6;
$portfolioCheckColor: #B6C9D6;